name: Lint and Build Runner

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  lint-n-build:
    name: Linter and Builder
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Checkout v3
        uses: actions/checkout@v6

      - name: NodeJs version ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm install --frozen-lockfile
      - run: npm run lint:all && npm run build
