name: Unit Tests Runner

on:
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Checkout v3
        uses: actions/checkout@v3

      - name: NodeJs version ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Npm install
        run: npm install --frozen-lockfile

      - name: Tests starting
        run: npm test

      - name: Test coverage Check
        run: npm test --coverage
